<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Tweeter on Rails</title>
    </head>
    <body>
        <h1>About Page</h1>
        <p>This is an about page</p>
    </body>
</html>